/*
    colors
    bg #000
    main #ADFF2F
    sub #a6a6a6
    beliy #fdfdfd
*/

.calc {
    margin: 50px auto;
    width: 330px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 25px;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px #a8a8a8;
}

.calc-screen {
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.calc-screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-areas:
    "ac p-m percent division sin"
    "seven eight nine multiply cos"
    "four five six minus tg"
    "one two three plus ctg"
    "zero dot equal equal equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 25px;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.equal {
    grid-area: equal;
    width: 100%;
    border-radius: 25px;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn.bg-grey {
    background: #a6a6a6;
}

.btn.bg-lime {
    background: #b1e200;
}